body{
	background-color:violet;
	margin:0px;
}
.menubar{
	width:100%;
	height:120px;
	background-color:#008080;
	position:fixed;
}
.mainbody{
	height:800px;
	width:600px;
	margin:0px auto;
	background-color:rgba(65,255,33, .6)
}
.footer{
	width:100%;
	height:50px;
	background-color:rgba(30,46,180,.4);
	float:left;
}