body{
	background-color:#5858FA;
	margin:0px;
}
.nav{
	width:960px;
	height:60px;
	background-color:#424242;
	margin:0px;
	float:left;
	
	
}
.nav ul{
	margin:0px;
	padding:0px;
	
}
.nav li{
	display:inline;
	
}
.nav a{
	width:188px;
	height:56 px;
	background-color:#6E2C00;
	float:left;
	border:2px solid black;
	color:#E4EC13;
	text-transform:uppercase;
	text-decoration:none;
	font-size:25px;
	line-height:56px;
	text-align:center;
	
}

.nav a:hover{ 
		background-color:#115107; 
		color:#9CF7F8; 
		}

.menu{
	width:188px;
	height:60px;
	background-color:#424242;
	margin:0px;
	float:left;
	
}
.menu{ width:188; height:60px; background-color:#6E2C00; float:left; margin:0px;}
.menu ul{ 
		margin:0px;
		padding:0px;}
.menu li{
	display:inline;
	
}
.menu a{
	width:188px;
	height:56 px;
	background-color:#6E2C00;
	float:left;
	border:2px solid black;
	color:#E4EC13;
	text-transform:uppercase;
	font-size:25px;
	text-decoration:none;
	line-height:56px;
	text-align:center;
	
}
.menu a:hover{ 
		background-color:#115107; 
		color:#9CF7F8; 
		}
