@charset "utf-8";
/* CSS Document */


body
{
	background-image: url(../images/image.jpg); 
	background-attachment:fixed; 
	margin:0px; 
    background-repeat:no-repeat;
	background-position: center; 
	background-size:cover;

}


.main_layout
{		
		width:900px; height:1000px; margin:0px auto;
		background:rgba(0,0,0,.7);
}