@charset "utf-8";
/* CSS Document */



body
{background-color:#CCC; margin:0px;
}

.top_header
{ width:100%; height:150px; background-color:#06C; position:fixed;}



.main_content
{ width:900px; height:750px; background-color: #9CC; margin:0px auto;}


.footer_header
{ width:100%; height:80px; background-color: #939; float:left;}

